body {
    padding-top: 60px;
}
.container-fluid{
        background-color: #fff;
}
.navbar{
    position: fixed !important;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 9999999;
    height: 60px;
}
.navbar-brand img{
    width: 60px;
    height: 60px;
}
.nav-link:hover {
    color: red !important;
}
.icon-cart{
    font-size: 40px;
    margin-bottom: 10px;
}
.nav-item { 
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  background: transparent;
  border: none;
  color: #f0f0f0;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.2s ease !important;
}